.Side-bar
  .left-header
    .box
      %p.user-name masa
      %ul.menu
        %li.new-group
          = link_to "#", class:"icon" do
            = icon('far', 'edit')
        %li.edit-user
          = link_to "#", class:"icon" do
            = icon('fas', 'cog')
  .groups
    .group
      %p.name techcamp,1
      %p.latest-massage まだメッセージがありません,1
    .group
      %p.name techcamp,1
      %p.latest-massage まだメッセージがありません,1